.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 14px 16px;
  overflow: hidden;
  background-color: #191919;
  font-size: 17px;
  color: #f2f2f2;

  & a {
    display: flex;
    text-decoration: none;
    color: #f2f2f2;
    width: 10%;
    align-items: center;
    justify-content: space-around;
  }

  & a:hover {
    background-color: #008440;
    color: #ddd;
  }  

  a.active {
    background-color: white;
    color: #008440;
  }

}
